@model X.PagedList.IPagedList<AcmeCorporation.Models.Submission>
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc;
@using X.PagedList.Web.Common;


@{
    ViewData["Title"] = "Submissions";
}

<h1>Submissions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].EmailAdress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].ProductSerial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAdress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductSerial)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SubmissionId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SubmissionId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SubmissionId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

<div class="pull-right">
    @Html.PagedListPager((X.PagedList.IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptionsBase
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" },
        Display = PagedListDisplayMode.IfNeeded
    })
</div>